{% extends 'templates/app.twig' %}
{# {% extends 'assets/js/membres.js' %} #}

{% block content %}
    <div class="row">
       {#  <div class="col-md-6 col-md-offset-3 text-center"> #}
            <div class="panel panel-default ">
                <div class="panel-heading text-center">
                   <strong> Telles sont les informations concernant tous les membres de notre club. Tous ceux qui veulent des renseignements sur notre club peuvent facilement les membres qui se trouvent sur la liste. Nous sommes entrain de mettre à jour la liste des membres selon les catégories d'inscription.</strong>
                </div>
            </div>
     {#    </div> #}
        {# <div class="col-md-12"> #}

        <div class="portlet-title  margin-top:50 padding-bottom: 80">
             <div class="caption"><i class="fa fa-folder-open-o"></i>
                <h4><strong>Liste des membres du club</strong></h4>
             </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover is-a-datatable-ss" id="membres" data-type="membres">
                <thead>
                    <tr>
                        <td><strong>numero</strong></td>
                        <td ><strong>Nom</strong></td>
                        <td ><strong>Prénom</strong></td>
                        <td ><strong>Mail</strong></td>
                        <td ><strong>Adresse complète</strong></td>
                        <td><strong>Ville</strong></td>
                        <td><strong>Pays</strong></td>
                        <td><strong>Téléphone</strong></td>
                        <td><strong>Téléphone secondaire</strong></td>
                        <td><strong>Civilité</strong></td>
                        <td><strong>Date d'adhésion</strong></td>
                        <td><strong>Statut</strong></td>
                        <td><strong>Cotisation</strong></td>
                        <td><strong>Dons</strong></td>
                    </tr>
                </thead>
                    {% for membre in membres %}
                <tbody>
                    <tr>
                        <td>{{membre.id_membres}}</td>
                        <td>{{membre.nom}}</td>
                        <td>{{membre.prenom}}</td>
                        <td>{{membre.mail}}</td>
                        <td>{{membre.adresse ~ ' '~ membre.cp}}</td>
                        <td>{{membre.ville}}</td>
                        <td>{{membre.pays}}</td>
                        <td>{{membre.tel1}}</td>
                        <td>{{membre.tel2}}</td>
                        <td>{{membre.civilite}}</td>
                         <td>{{membre.adhesion_date}}</td>
                        <td>{{membre.statut}}</td>
                        <td>{{membre.cotisation}}</td>
                        <td>{{membre.dons}}</td>
                    </tr>
                  </tbody>
                    {% endfor %}
            </table>
        </div>

       <div class="portlet-title  margin-top:50 padding-bottom: 80">
             <div class="caption"><i class="fa fa-folder-open-o"></i>
                <h4><strong>Liste des membres potentiels qui sont à jour de leur cotisation</strong></h4>
             </div>
        </div>

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover is-a-datatable-ss" id="cota" data-type="cota">
                <thead>
                    <tr>
                        <td><strong>numero</strong></td>
                        <td ><strong>Nom</strong></td>
                        <td ><strong>Prénom</strong></td>
                        <td><strong>Date d'adhésion</strong></td>
                        <td><strong>Cotisation</strong></td>
                        <td><strong>Dons</strong></td>
                    </tr>
                </thead>
                    {% for cota in cotas %}
                <tbody>
                    <tr>
                        <td>{{cota.id_membres}}</td>
                        <td>{{cota.nom}}</td>
                        <td>{{cota.prenom}}</td>
                         <td>{{cota.adhesion_date}}</td>

                        <td>{{cota.cotisation}}</td>
                        <td>{{cota.dons}}</td>
                    </tr>
                  </tbody>
                    {% endfor %}
            </table>
        </div>

         <div class="portlet-title  margin-top:50 padding-bottom: 80">
         <div class="caption"><i class="fa fa-folder-open-o"></i>
           <h4> <strong>Les statistiques possibles liées à la cotisation</strong></h4>
         </div>
        </div>

        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover is-a-datatable-ss" id="cota" data-type="cota">
                <thead>
                    <tr>
                        <td ><strong>Effectif des cotisants</strong></td>
                        <td ><strong>La somme maximale</strong></td>
                        <td><strong>La somme minimale</strong></td>
                        <td><strong>Cotisation totale</strong></td>
                        <td><strong>La moyenne des cotisations</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ effectif }}</td>
                        <td>{{ cot_max }}</td>
                        <td>{{ cota_min }}</td>
                        <td>{{ total }}</td>
                        <td>{{ moyenne }}</td>

                    </tr>
                  </tbody>
            </table>
        </div>
    </div>
{% endblock %}

